<!DOCTYPE html>
<html>
<head>
    <title>Path Selection</title>
</head>
<body>
     <form action="/" method="post">
        <label for="extension-path">Chrome Extension Path:</label>
        <input type="file" id="extension-path" name="extension_path">
        <br>
        <label for="browser-path">Browser Path:</label>
        <input type="file" id="browser-path" name="browser_path">
        <br>
        <label for="profile-path">Profile Path:</label>
        <input type="file" id="profile-path" name="profile_path">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
